.h-container {
    height: 60px;
    box-shadow: 0 1px #ccc;
    padding-left: 20px;
    padding-right: 20px;
}
.h-font {
    font-family: "Comic Sans MS";
}
.h-title {
    font-size: 1.2em;
    font-style: italic;
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
}
.h-font-grey {
    color: #666;
}
.h-caption {
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
}

.h-nhood-container {
    #height: 200px;
    height: 0;
    #background: #0d0d0d;
    background: #ddd;
    margin-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    overflow: scroll;
    /* animation effect */
    transition: height .5s;
}
.h-nhood-container-200 {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 4px;
    /* animation effect */
    transition: height .5s;
}
.h-nhood-label {
    #color: white;
    color: #fcf6f5;
    #background: #0d0d0d;
    background: #1e88e5;
    #background: #89abe3;
    border: 0 solid;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* about dlg */
.h-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* The Close Button */
.h-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.h-modal-close:hover,
.h-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.h-modal-container {
    background: #eee;
    border-radius: 8px;
    border: 1px solid white;
    width: 550px;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.h-modal-caption {
    line-height: 30px;
}
.h-modal-li-caption {
    color: #666;
    font-weight: 400;
}
.h-modal-li-bold-caption {
    font-family: "Comic Sans MS";
    font-weight: bold;
}
