.h-header-div {
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    background: #fbfbfb;

    box-shadow: 0 1px #eee;

    padding-left: 40px; padding-right: 40px;
}

.h-title {
    font-family: "Comic Sans MS";
    font-style: italic;
    color: #666;
    font-size: 1.2em;
}
.h-caption {
    font-family: "Comic Sans MS";
    color: #666;
    font-size: 1em;
}
.h-searchbar {
    width: 650px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid #ddd;

    padding-left: 12px;
    padding-right: 12px;
}

/* about dlg */
.h-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* The Close Button */
.h-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.h-modal-close:hover,
.h-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.h-modal-container {
    background: #eee;
    border-radius: 8px;
    border: 1px solid white;
    width: 500px;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.h-modal-caption {
    line-height: 30px;
}
.h-modal-li-caption {
    color: #666;
    font-weight: 400;
}
.h-modal-li-bold-caption {
    font-family: "Comic Sans MS";
    font-weight: bold;
}
